#ask {
    margin-left: 400px;
    margin-right: 400px;
}

#ask_head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin: 50px;
}

.ques {
    margin: 50px;
    padding: 10px;
}

.ques #q_con {
    font-size: 1.2rem;
}

#ad {
    color: red;
    text-decoration: none;
}

#ad:hover {
    color: red;
    text-decoration: underline;
}

.intro {
    margin: 50px;
}

@media only screen and (max-width: 1200px) {
    #ask {
        margin-left: 200px;
        margin-right: 200px;
    }
  }

@media only screen and (max-width: 900px) {
    #ask {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 500px) {
#ask {
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    margin: 10px;
    margin-bottom: 20px;
}

.intro {
    margin: 10px;
}
}