#ask {
    margin-left: 400px;
    margin-right: 400px;
}

#ask_head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin: 50px;
}

.ques {
    margin: 50px;
    padding: 10px;
}

.ques #q_con {
    font-size: 1.2rem;
}

#ad {
    color: red;
    text-decoration: none;
}

#ad:hover {
    color: red;
    text-decoration: underline;
}

.intro {
    margin: 50px;
}